In [4]:
import pandas as pd
import numpy as np
import os
import streamlit as st
from sklearn.datasets import make_regression
from sklearn.datasets import load_iris
from sklearn.datasets import load_digits
from sklearn.datasets import load_boston
from sklearn.datasets import load_wine
from sklearn.datasets import load_diabetes

In [5]:
dots_data = pd.read_excel("Data//September_09//KapanGrading_dots.xlsx")
inclusion_data = pd.read_excel("Data//September_09//KapanGrading_inclusion.xlsx")
LabBreakage_data = pd.read_excel("Data//September_09//KapanGrading_LabBreakage.xlsx")

In [6]:
dots_data.isnull().sum()

Machine               0
dots_heavy_prct     727
dots_medium_prct     36
dtype: int64

In [7]:
inclusion_data.isnull().sum()

Machine                    0
inclusion_heavy_prct     528
inclusion_medium_prct     19
dtype: int64

In [8]:
LabBreakage_data.isnull().sum()

Machine                     0
LabBreakage_heavy_prct     73
LabBreakage_medium_prct    10
dtype: int64

In [9]:
dots_data.fillna(0, inplace=True)
inclusion_data.fillna(0, inplace=True)
LabBreakage_data.fillna(0, inplace=True)

In [10]:
dots_data.dots_heavy_prct = pd.to_numeric(dots_data.dots_heavy_prct)
dots_data.dots_medium_prct = pd.to_numeric(dots_data.dots_medium_prct)
dots_data["dots_total"] = dots_data["dots_heavy_prct"] + dots_data["dots_medium_prct"]

In [11]:
inclusion_data.inclusion_heavy_prct = pd.to_numeric(inclusion_data.inclusion_heavy_prct)
inclusion_data.inclusion_medium_prct = pd.to_numeric(inclusion_data.inclusion_medium_prct)
inclusion_data["inclusion_total"] = inclusion_data["inclusion_heavy_prct"] + inclusion_data["inclusion_medium_prct"]

In [9]:
LabBreakage_data.LabBreakage_heavy_prct = pd.to_numeric(LabBreakage_data.LabBreakage_heavy_prct)
LabBreakage_data.LabBreakage_medium_prct = pd.to_numeric(LabBreakage_data.LabBreakage_medium_prct)
LabBreakage_data["labBreakage_total"] = LabBreakage_data["LabBreakage_heavy_prct"] + LabBreakage_data["LabBreakage_medium_prct"]

In [10]:
final_quality = pd.merge(pd.merge(dots_data,inclusion_data,how="left",on=["Machine"]),LabBreakage_data,how="left",on=["Machine"])

In [11]:
final_quality.columns

Index(['Machine', 'dots_heavy_prct', 'dots_medium_prct', 'dots_total',
       'inclusion_heavy_prct', 'inclusion_medium_prct', 'inclusion_total',
       'LabBreakage_heavy_prct', 'LabBreakage_medium_prct',
       'labBreakage_total'],
      dtype='object')

In [12]:
final_quality = final_quality[["Machine","dots_total","inclusion_total","labBreakage_total"]]

In [13]:
final_quality

     Machine  dots_total  inclusion_total  labBreakage_total
0        AA1    0.142857         0.228571           0.485714
1       AA10    0.152542         0.237288           0.169492
2       AA11    0.138462         0.200000           0.153846
3       AA12    0.254902         0.215686           0.509804
4       AA13    0.272727         0.204545           0.250000
...      ...         ...              ...                ...
1021    CC16    0.129630         0.222222           0.203704
1022    CC17    0.000000         0.071429           0.214286
1023    CC20    0.047619         0.166667           0.166667
1024    CC21    0.185185         0.074074           0.148148
1025    CC22    0.178571         0.250000           0.214286

[1026 rows x 4 columns]

In [14]:
def add_sorting_rank_to_column(temp_df, column_name, ascending_order=True):
    temp_df[column_name] = pd.to_numeric(temp_df[column_name])
    temp_df = temp_df.sort_values(by=[column_name], ascending=ascending_order).reset_index()
    temp_df.index.name = column_name + "_rank"
    temp_df = temp_df.reset_index()
    temp_df[column_name + "_rank"] += 1
    temp_df.index.name = "delete_" + column_name
    return temp_df

In [15]:
final_quality.dots_total = pd.to_numeric(final_quality.dots_total)
final_quality.inclusion_total = pd.to_numeric(final_quality.inclusion_total)
final_quality.labBreakage_total = pd.to_numeric(final_quality.labBreakage_total)

In [16]:
final_quality = add_sorting_rank_to_column(final_quality,"dots_total")
final_quality = add_sorting_rank_to_column(final_quality,"inclusion_total")
final_quality = add_sorting_rank_to_column(final_quality,"labBreakage_total")

In [17]:
final_quality.head(2)

,labBreakage_total_rank,delete_inclusion_total,inclusion_total_rank,delete_dots_total,dots_total_rank,index,Machine,dots_total,inclusion_total,labBreakage_total
delete_labBreakage_total,,,,,,,,,,
0,1,97,98,504,505,463,AG6,0.125000,0.062500,0.0
1,2,138,139,454,455,83,AB1,0.115385,0.076923,0.0

In [18]:
final_quality = final_quality.drop(columns=["delete_inclusion_total","delete_dots_total"]).set_index("index").sort_index()

In [19]:
final_quality.columns

Index(['labBreakage_total_rank', 'inclusion_total_rank', 'dots_total_rank',
       'Machine', 'dots_total', 'inclusion_total', 'labBreakage_total'],
      dtype='object')

In [20]:
final_quality = final_quality[["Machine","dots_total","inclusion_total","labBreakage_total",
                               "dots_total_rank","inclusion_total_rank","labBreakage_total_rank"]]

In [21]:
final_quality

,Machine,dots_total,inclusion_total,labBreakage_total,dots_total_rank,inclusion_total_rank,labBreakage_total_rank
index,,,,,,,
0,AA1,0.142857,0.228571,0.485714,579,746,991
1,AA10,0.152542,0.237288,0.169492,626,766,257
2,AA11,0.138462,0.200000,0.153846,569,646,218
3,AA12,0.254902,0.215686,0.509804,917,700,1004
4,AA13,0.272727,0.204545,0.250000,940,656,545
...,...,...,...,...,...,...,...
1021,CC16,0.129630,0.222222,0.203704,526,722,377
1022,CC17,0.000000,0.071429,0.214286,26,124,424
1023,CC20,0.047619,0.166667,0.166667,139,515,252
1024,CC21,0.185185,0.074074,0.148148,747,132,202
1025,CC22,0.178571,0.250000,0.214286,729,817,419

In [22]:
if (final_quality.index[0]==0):
    final_quality.index += 1

In [23]:
final_quality

,Machine,dots_total,inclusion_total,labBreakage_total,dots_total_rank,inclusion_total_rank,labBreakage_total_rank
index,,,,,,,
1,AA1,0.142857,0.228571,0.485714,579,746,991
2,AA10,0.152542,0.237288,0.169492,626,766,257
3,AA11,0.138462,0.200000,0.153846,569,646,218
4,AA12,0.254902,0.215686,0.509804,917,700,1004
5,AA13,0.272727,0.204545,0.250000,940,656,545
...,...,...,...,...,...,...,...
1022,CC16,0.129630,0.222222,0.203704,526,722,377
1023,CC17,0.000000,0.071429,0.214286,26,124,424
1024,CC20,0.047619,0.166667,0.166667,139,515,252
1025,CC21,0.185185,0.074074,0.148148,747,132,202
1026,CC22,0.178571,0.250000,0.214286,729,817,419

In [24]:
if os.path.exists("qualityReport.xlsx"):
    os.remove("qualityReport.xlsx")

final_quality.to_excel("qualityReport.xlsx", header=1, index_label="ID")